#--------------------------------------------------
# Flutter / Dart
#--------------------------------------------------
.dart_tool/
.packages
.pub/
.pub-cache/
build/

# Flutter generated
.flutter-plugins
.flutter-plugins-dependencies
.flutter-plugins
.metadata

#--------------------------------------------------
# Android
#--------------------------------------------------
android/local.properties
android/**/GeneratedPluginRegistrant.*
android/app/src/main/res/generated/

*.jks
*.keystore
*.apk
*.aab

#--------------------------------------------------
# iOS / macOS
#--------------------------------------------------
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/Flutter/Flutter.podspec
ios/Pods/
ios/.symlinks/

macos/Flutter/ephemeral/

#--------------------------------------------------
# Windows / Linux
#--------------------------------------------------
windows/flutter/ephemeral/
linux/flutter/ephemeral/

#--------------------------------------------------
# IDE
#--------------------------------------------------
.idea/
.vscode/

*.iml
*.ipr
*.iws

#--------------------------------------------------
# Environment
#--------------------------------------------------
.env
.env.*
!.env.example

#--------------------------------------------------
# OS Files
#--------------------------------------------------
.DS_Store
Thumbs.db

#--------------------------------------------------
# Logs
#--------------------------------------------------
*.log